<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/create">Create a new worker</a></li>
        <li><a href="/read">Read a worker/workers</a></li>
        <li><a href="/update">Update a worker</a></li>
        <li><a href="/delete">Delete a worker</a></li>
      </li>
    </ul>
  </body>
</html>
